name: carp_apps_package
description: Apps sampling package for the CARP Mobile Sensing framework (Android only).
version: 0.33.0
homepage: https://github.com/cph-cachet/carp.sensing-flutter/tree/master/packages/carp_apps_package

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  carp_core: ^0.33.0
  carp_mobile_sensing: ^0.33.0
  app_usage: ^2.0.0
  device_apps: ^2.1.1
  json_annotation: ^4.4.0
  permission_handler: ^9.2.0  
  
# Overriding carp libraries to use the local copy
# Remove this before release of package
dependency_overrides:
  # carp_core:
  #   path: ../../carp_core/
  # carp_mobile_sensing:
  #   path: ../../carp_mobile_sensing/

dev_dependencies:
  build_runner: any
  json_serializable: any
  test: any

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
