name: carp_apps_package
description: Apps sampling package for the CARP Mobile Sensing framework (Android only).
version: 0.11.1
homepage: https://github.com/cph-cachet/carp.sensing-flutter/tree/master/packages/carp_apps_package
author:  CACHET Team <cph.cachet@gmail.com>

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  carp_mobile_sensing: ^0.11.0
  app_usage: ^1.0.2
  device_apps: ^1.2.0
  json_annotation: ^3.0.1
  permission_handler: ^5.0.1+1

# Overriding carp libraries to use the local copy
# Remove this before release of package
#dependency_overrides:
#  carp_mobile_sensing:
#    path: ../../carp_mobile_sensing/

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.0
  json_serializable: ^3.0.0
  test:

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
