name: carp_health_package
description: CARP health sampling package. Samples health data from Apple Health or Google Fit.
version: 1.1.1
author:  CACHET Team <cph.cachet@gmail.com>
homepage: https://github.com/cph-cachet/carp.sensing-flutter/tree/master/packages/carp_health_package

environment:
  sdk: ">=2.3.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^3.0.0
  health: ^2.0.2
  #carp_mobile_sensing: ^0.9.3
  uuid: ^2.2.0
  meta: ^1.1.8
  permission_handler: ^5.0.1+1

# Overriding carp libraries to use the local copy
# Remove this before release of package
dependency_overrides:
  carp_mobile_sensing:
    path: ../../carp_mobile_sensing/

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.0
  json_serializable: ^3.0.0
  test:


# The following section is specific to Flutter.
flutter:
