name: carp_mobile_sensing
description: CARP Mobile Sensing Framework
version: 0.2.1
author:  CACHET Team <cph.cachet@gmail.com>
homepage: https://github.com/cph-cachet/carp.sensing-flutter/tree/master/carp_mobile_sensing


environment:
  sdk: ">=2.0.0-dev <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  #util plugins
  system_info: ^0.1.0
  uuid: ^1.0.0
  device_info: ^0.2.1
  json_annotation: ^1.0.0
  path_provider: ^0.4.1
  archive: ^2.0.4

  # probe-dependent plugins
  sensors: ^0.3.4
  battery: ^0.2.3
  connectivity: ^0.3.2
  flutter_blue: ^0.4.1    # <- Gives build errors on android, see issue tracker
  location: ^1.4.1
  sms: ^0.2.4
  call_log: ^1.0.2
  #phone_log:             # <- phone_log does not support Dart 2.0 >> have raised an issues, but not used until this is fixed.

  # the CACHET plugins
  pedometer: ^0.0.3       # Get the step count from local OS
  light: ^0.0.3           # Light sensor over platform channel
  device_apps: ^1.0.0     # Device installed apps over platform channel
  screen_state: ^0.0.1    # Screen LOCK/ON/OFF


dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  json_serializable: ^1.0.0


# The following section is specific to Flutter.
flutter:
  # if using this also as a plugin, using platform channels, specify below
  #plugin:
  #  androidPackage: dk.cachet.carp.carpmobilesensing
  #  pluginClass: CarpMobileSensingPlugin

  # To add assets to your plugin package, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.io/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # To add custom fonts to your plugin package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.io/custom-fonts/#from-packages
