name: carp_backend
description: CARP data backend for CARP mobile sensing. Supports uploading json to CARP as either zipped filed or as plain json in collections.
version: 0.40.2
homepage: https://github.com/cph-cachet/carp.sensing-flutter/tree/master/backends/carp_backend

environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.3.0
  json_annotation: ^4.7.0
  uuid: ^3.0.4

  carp_serializable: ^1.0.0
  # carp_core: ^0.40.0
  # carp_mobile_sensing: ^0.40.0
  carp_webservices: ^0.40.0
  
  research_package: ^1.2.0
  
# Overriding carp libraries to use the local copy
# Remove this before release of package
dependency_overrides:
  carp_core:
    path: ../../carp_core/
  carp_mobile_sensing:
    path: ../../carp_mobile_sensing/
#   carp_webservices:
#     path: ../carp_webservices/
  # research_package:
  #   path: ../../../../research.package/
  # the following sampling packages are only used for unit testing
#  carp_esense_package:
#    path: ../../packages/carp_esense_package/
#  carp_audio_package: 
#    path: ../../packages/carp_audio_package/
#  carp_context_package:
#    path: ../../packages/carp_context_package/


dev_dependencies:
  build_runner: any
  json_serializable: any
  test: any

# The following section is specific to Flutter.
flutter:
  uses-material-design: true
